.portfolio-section {
  background: var(--darkBlue);
  color: var(--white);
  min-height: 100vh;
  padding-top: 100px;
  padding: 0 40px;
}

.abas-container {
  display: flex;
  justify-content: center;
  background-color: var(--dark-tabs);
  border-radius: 8px;
  width: fit-content;
  margin: 0 auto 50px;
  padding: 4px;
}

.aba-botao {
  background: transparent;
  border: none;
  color: #8892b0;
  padding: 10px 24px;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  border-radius: 6px;
  transition: all 0.3s ease;
}

.aba-botao:hover {
  color: #ffffff;
}

/* Estado Ativo da Aba */
.aba-botao.ativa {
  background-color: #6366f1;
  /* Cor primária do botão ativo (roxa/azul) */
  color: #ffffff;
}

/* Grid de Projetos */
.grid-projetos {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  max-width: 1000px;
  margin: 0 auto;
}

.cartao-projeto {
  overflow: hidden;
  position: relative;
}

/* Badge (Pílula da categoria no topo esquerdo) */
.badge-categoria {
  position: absolute;
  top: 16px;
  left: 16px;
  background-color: #c7d2fe;
  /* Fundo da tag */
  color: #3730a3;
  /* Texto da tag */
  padding: 4px 12px;
  border-radius: 20px;
  font-size: 0.75rem;
  font-weight: bold;
  z-index: 10;
}

.imagem-container {
  width: 100%;
  height: 175px;
  overflow: hidden;
  margin: 0 auto;
}

.imagem-container img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.conteudo-cartao h3 {
  color: #ccd6f6;
  margin-top: 15px;
  margin-bottom: 12px;
  font-size: 1.25rem;
}

.conteudo-cartao p {
  color: #8892b0;
  font-size: 1rem;
  line-height: 1.5;
  margin: 0;
}
.btn-acessar-projeto {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 20px;
  background: linear-gradient(to right, #1e83d7, #0c2780);
  color: #fff;
  border-radius: 8px;
  font-size: 0.9rem;
  font-weight: 600;
  text-decoration: none;
  transition: all 0.3s ease;
  box-shadow: 0 4px 15px rgba(30, 131, 215, 0.2);
}

.btn-acessar-projeto:hover {
  transform: translateY(-3px);
  box-shadow: 0 8px 25px rgba(30, 131, 215, 0.4);
  filter: brightness(1.1);
}

@media (max-width: 800px) {
  .grid-projetos {
    grid-template-columns: 1fr;
    gap: 2rem;
    margin: 0 auto;
  }
}

@media (max-width: 500px) {
  .imagem-container {
    width: 100%;
    height: auto;
  }

  .conteudo-cartao h3 {
    font-size: 1rem;
  }

  .abas-container {
    width: fit-content;
  }

  .aba-botao {
    padding: 10px;
    font-size: 0.80rem;
    font-weight: 500;
  }
}

@media (max-width: 400px) {
  .abas-container {
    flex-direction: column;
  }

  .aba-botao {
    padding: 10px;
    font-size: 1rem;
    font-weight: 600;
  }
}