.sobre-mim {
  background: var(--darkBlue);
  color: var(--text-main);
  padding: 100px 0;
  font-family: sans-serif;
}
.sobre-texto {
  line-height: 1.6;
  max-width: 800px;
  margin: 0 auto 40px auto;
}
.sobre-texto p {
  font-size: 1.2rem;
}
.sobre-texto p strong {
  font-size: 1.5rem;
}
@media (max-width: 900px) {
  .sobre-texto {
    padding: 0 25px;
  }
}
@media (max-width: 500px) {
  .sobre-texto p {
    font-size: 1.1rem;
  }
  .sobre-texto p strong {
    font-size: 1.2rem;
  }
}